RewriteEngine On

# If the requested filename exists, do nothing
RewriteCond %{REQUEST_FILENAME} !-f

# If the requested directory exists, do nothing
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to remove .html extension
RewriteRule ^$ .html [L]